.chat-message-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10%;
}

.chat-message-box {
    display: flex;
    width: 90%;
    border-radius: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* 애니메이션 설정 */
}

.chat-new-box {
    display: flex;
    border-radius: 20%;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* 애니메이션 설정 */
}

/* Hover 이벤트에 대한 스타일 */
.chat-message-box:hover,
.chat-new-box:hover {
    transform: scale(1.05); /* 확대 효과 */
}

.blue-rectangle{
    display: flex;
    background-color: #47ABD9;
    width: 100%;
    height: 50px;
}

.white-inner-rectangle{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 90%;
}

.message-image, .new-message-image{
    width: 32px;
    height: 32px;
    margin: 5px
}

.user-popup-title{
    margin-left: 2px;
    color: #777E90;
    font-size: 16px;
    font-weight: bold; 
}
