.list-box {
    display: flex;
    direction: row;
    align-items: center;
    gap: 36px;
    width: 940px;
    height: 270px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(177, 181, 196, 0.5);
    border-radius: 16px;
    padding: 15px;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: 'Pretendard-Regular';
    font-style: normal;
    transition: transform 0.5s ease, box-shadow 0.4s ease;
}

.live-box:hover{
    box-shadow: 0 0 5px rgba(71,171,217, 0.8);
    transform: scale(1.05);
    filter: brightness(97%);
}

.box-img{
position: relative;
width: 358px;
height: 265px;
border-radius: 25px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 40px;
}

.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
    flex: 1;
    padding-top: 40px;
    padding-bottom: 10px;
}

.box-name{
    font-size: 24px;
    margin-bottom: 24px;
    align-items: center;

}

.box-date, .box-address{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.box-join-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}