.live-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liveList {
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    flex-direction: column;
}

.live-chat-title {
    text-align: center;
    align-items: center;
    margin-top: 52px;
    margin-bottom: 48px;
}

.list-top {
    display: flex;
    width: 85%;
    margin: 0.625rem 0rem 0.625rem 0rem;
    border-radius: 10px;
    /* 마우스 올리면 애니메이션 */
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.list-top > span {
    background: #f7f7f7;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    align-content: center;
  }

  .list-top > span > img {
    width: 1rem;
    margin-left: 1rem;
  }
  
  .list-search {
    background: #f7f7f7;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 0.8rem;
    width: 100%;
  
    /* font */
    font-weight: 400;
    font-size: 14px;
  
    color: #626264;
  }
  
  .list-search:focus {
    outline: none;
  }
  
  .searchBtn {
    width: fit-content;
    border-radius: 10px;
    padding: 0%;
    margin-left: 2%;
    background-color: inherit;
    border: none;
    cursor: pointer;
  
    /* 마우스 올리면 애니메이션 */
    transition: transform 0.4s ease, box-shadow 0.3s ease;
  }
  
  .searchBtn:hover {
    box-shadow: 0 0 5px rgba(177, 181, 196, 0.4);
    transform: scale(1.2);
    filter: brightness(97%);
  }
  
  .searchBtn > img {
    width: 3.7rem;
  }
  
  .list-container {
    display: flex;
    flex-flow: wrap;
    width: fit-content;
  }
  
  .list-container-wrapper {
    display: flex;
    margin-top: 3%;
    /* justify-content: space-between; */
  }
  
  .list-bottom {
    display: flex;
    justify-content: center;
    margin: 5% 0% 30% 0px;
    width: 100%;
  }
  
  .moreBtn {
    display: flex;
    width: 40%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #47abd9;
    cursor: pointer;
    white-space: nowrap;
  
    justify-content: center;
    text-align:center;
    transition: transform 0.5s ease;
  }
  
  .moreBtn:hover{
    filter: brightness(90%);
    transform: scale(1.03);
  }