.whole-page{
    display: flex;
    flex-direction: column;
}

.map-page {
    display: flex;
    flex-direction: row;
}

.date,
.region,
.category {
    display: flex;
    font-family: 'Pretendard';
    margin-left: 30px;
    margin-top: 20px;
}

.date-text,
.region-text,
.category-text,
.subregion-text {
    width: 120px;
}

.date-buttons,
.region-buttons,
.category-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.subregion-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: 20px;
}

.date-button,
.region-button,
.category-button,
.subregion-button {
    width: 111px;
    height: 46px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 17px;
}

.search-button {
    width: 111px;
    height: 46px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background-color: #47ABD9;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 20px;
}

.date-button.selected,
.region-button.selected,
.category-button.selected,
.subregion-button.selected {
    background-color: #47ABD9;
    color: #FFFFFF;
}

.ic-search{
    margin-right: 12px;
    margin-top: 4px;
}
