.date,
.region,
.category {
    display: flex;
    font-family: 'Pretendard';
    margin-left: 30px;
    margin-top: 20px;
}

.date-text, .region-text, .category-text{
    width: 120px;
}

.date-buttons,
.region-buttons,
.category-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.date-button,
.region-button,
.category-button {
    width: 111px;
    height: 46px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 17px;
}

.date-button.selected,
.region-button.selected,
.category-button.selected {
    background-color: #47ABD9;
    color: #FFFFFF;
}
