.filter-container{
    display: flex;
    flex-direction: column;
}

.filter-location{
    display: flex;
    align-items: center;
}

.filter-img{
    padding: 2%;
    width: 22px;
}

.filter-check{
    margin: 15px ;
}

.right{
    margin-left: auto;
}

.filter-check>input{
    margin: 0px 10px 0px 0px;
    accent-color: #47ABD9;
    width: 15px;
    height: 15px;
    vertical-align: middle;    
}

.filter-check>input + label{
    cursor: pointer;
}

.filter-check>label {
    vertical-align: middle;
}
