.popupDetail{
    margin: 3% 15% 10% 15%;
    position: relative;
    font-family: 'Pretendard-Regular';
    font-style: normal;
}

.main-header {
    display: flex;
    width: 1440px;
    padding: 20px 57px 20px 124px;
    align-items: center;
    gap: 427px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  /* 기본 버튼 스타일 */
.header-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #777e90;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    cursor: pointer;
    outline: none; /* 포커스 표시 제거 */
  }
  
  /* 클릭 시 효과 */
  .header-button:active {
    background-color: #47abd9; /* 클릭 시 배경색 변경 */
  }
  

.display-flex{
    display: flex;
    justify-content: flex-start;
}

.detail-heart{
    margin-bottom: 10px;
    vertical-align: middle;
}
.detail-heart>img{
    margin-right: 0.5%;
    vertical-align: middle;
}

.detail-name{
width: 80%;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #182135;
}

.detail-date{
width: 403px;
font-weight: 600;
font-size: 28px;
line-height: 40px;
color: #182135;
}

.detail-lo{
    display: flex;
margin: 1% 0% 1% 0%;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #626264;
align-items: center;
}

.detail-lo>img{
width: 33px;
height: auto;
}

.detail-lo, .detail-lo>img {
    vertical-align: middle;
}

.detail-live{
    margin-left: auto;
    background-position: center;
}
 
.detail-live>button{
    width: 202px;
    background: #47ABD9;
    border: 1px solid #47ABD9;
    border-radius: 90px;
    padding: 7% 10%;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.swiper-container{
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.swiper-img{
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.detail-title{
    height: 40px;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.01em; 
    color: #000000;
}

.detail-content{
    font-size: 19px;
    line-height: 35px;
    color: #000000;
}

.dbox{ 
    padding: 20px;
    background: rgba(177, 181, 196, 0.24);
    white-space: pre-wrap;
}

.dbox:hover{
    filter: brightness(0.8);
}

.detailBox{
    margin-top: 5%;
}

a{
    color: #000000;
}