.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  min-height: 100vh; 
  position: relative;
}

/* 이미지 슬라이더 영역 */
.image-slider {
  margin-top: 10px; /* 위쪽 여백 설정 */
  margin-bottom: 20px;
  width: 100%;
  height: 594px; /* 이미지 슬라이더 영역의 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 넘치는 이미지를 숨김 */
}

/* 이미지 슬라이더 내의 이미지 요소 */
.image-slider img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* 진행중인 팝업 영역 */
.popup-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TOP3 팝업 텍스트 */
.popup-text {
  text-align: center; /* 텍스트를 가운데 정렬 */
  margin-bottom: 5px;
  font-size: 24px;
  font-family: Pretendard;
  line-height: 1.1; /* 줄 간격 설정 */
}

/* 진행중인 전국 팝업 텍스트 */
.continue-text {
  text-align:left;
  margin-bottom: 5px;
  margin-left: 56px;
  font-size: 24px;
  font-family: Pretendard;
  line-height: 1.1; /* 줄 간격 설정 */
}