 /* 이미지 슬라이더 영역 */
  .image-slider {
    width: 1482px;
    height: 594px;
    flex-shrink: 0;
    margin-top: 61px;
  }
  
  /* 진행중인 팝업 영역 */
  .popup-section {
    margin-top: 101px;
    text-align: center;
    font-family: 'Pretendard';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .popup-text {
      font-size: 24px; 
      line-height: 1.3; 
    }
  }
  