.mypage {
  display: flex;
  align-items: flex-start; /* 요소들을 상단에 정렬합니다. */
  background-color: #FCFCFD;
  padding-left: 60px;
  padding-right: 60px;
}

.sidebar {
  flex: 0 0 auto; /* 사이드바가 컨테이너 크기를 넘지 않도록 설정 */
}

.main-content {
  flex-grow: 1; /* 남은 공간을 모두 차지하여 화면 전체를 채웁니다. */
}
