.userinfo-container {
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100%;
    flex-direction: column; /* 요소들을 세로로 배치합니다 */
    padding: 100px;
    background-color: rgba(255, 255, 255, 0); /* 배경색을 완전히 투명하게 설정 */
}

.userinfo-content {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 50px;
}

.userinfo-image {
    width: 25%;
    height: auto;
    margin-right: 10px;
}

.userinfo-nickname {
    font-family: 'Pretendard-Regular';
    font-size: 48px;
    font-weight: bolder;
}

.point-info {
    font-family: 'Pretendard-Regular';
    text-align: left; /* 텍스트를 오른쪽으로 정렬합니다 */
    margin-bottom: 20px;
}

.point {
    margin-right: 20px;
}

.infoInput {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.charge-btn {
    background-color: #47ABD9;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    cursor: pointer;
    border-radius: 90px;
}

.changeButton {
    display: inline-block;
    white-space: nowrap;
    background-color: #47ABD9; 
    color: #ffffff; 
    border: none; 
    padding: 8px 16px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    cursor: pointer;
    border-radius: 90px;
}

.charge-btn:hover, .changeButton:hover, .checkButton:hover {
    background-color: #0056b3; /* 마우스를 올렸을 때 버튼의 배경색을 변경합니다 */
}

.modal-cancle {
    float: right;
}

.logoContainer {
    text-align: center;
}

.modal-logo {
    display: inline;
}

.infoLabel {
    color: #B1B5C3;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 10px;
}

.inputWithButton-m {
    width: auto;
}

.infoInput1 {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 65%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.infoInput2 {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 95%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.modal-logo {

    width: 150px; /* 원하는 크기로 조절합니다. */
    height: auto; /* 가로 사이즈에 맞추어 세로 사이즈를 자동 조절합니다. */
}
