.userinfo-container {
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100%;
    flex-direction: column; /* 요소들을 세로로 배치합니다 */
    padding: 100px;
    background-color: rgba(255, 255, 255, 0); /* 배경색을 완전히 투명하게 설정 */
}

.userinfo-content {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 50px;
}

.userinfo-image {
    width: 25%; /* 이미지의 너비를 조절합니다 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지합니다 */
    margin-right: 10px; /* 이미지와 닉네임 사이에 여백을 추가합니다 */
}

.userinfo-nickname {
    font-family: 'Pretendard-Regular';
    font-size: 48px; /* 닉네임의 글자 크기를 48px로 설정합니다 */
    font-weight: bolder;
}

.point-info {
    font-family: 'Pretendard-Regular';
    text-align: left; /* 텍스트를 오른쪽으로 정렬합니다 */
    margin-bottom: 20px;
}

.point {
    margin-right: 20px;
}

.charge-btn{
    background-color: #47ABD9; /* 버튼의 배경색을 지정합니다 */
    color: #ffffff; /* 버튼의 텍스트 색상을 지정합니다 */
    border: none; /* 테두리를 없앱니다 */
    padding: 8px 16px; /* 내부 여백을 지정합니다 */
    font-family: 'Pretendard-Regular';
    font-size: 16px; /* 버튼의 텍스트 크기를 지정합니다 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 요소임을 나타냅니다 */
    border-radius: 90px; /* 버튼의 모서리를 둥글게 만듭니다 */
}

.changeButton {
    display: inline-block;
    white-space: nowrap;
    background-color: #47ABD9; /* 버튼의 배경색을 지정합니다 */
    color: #ffffff; /* 버튼의 텍스트 색상을 지정합니다 */
    border: none; /* 테두리를 없앱니다 */
    padding: 8px 16px; /* 내부 여백을 지정합니다 */
    font-family: 'Pretendard-Regular';
    font-size: 16px; /* 버튼의 텍스트 크기를 지정합니다 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 요소임을 나타냅니다 */
    border-radius: 90px; /* 버튼의 모서리를 둥글게 만듭니다 */
}

.charge-btn:hover, .changeButton:hover {
    background-color: #0056b3; /* 마우스를 올렸을 때 버튼의 배경색을 변경합니다 */
}

.infoLabel {
    color: #B1B5C3;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 10px;
}

.infoInput {
    border: 1px solid #E6E8EC;
    background-color: #FCFCFD;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.inputWithButton {
    display: flex;
    justify-content: center;
    align-items: first baseline;

}