/* 전역 스타일 적용 */
@font-face {
    font-family: "Pretendard-Regular";
    font-weight: normal;
    src: url("../src/assets/fonts/Pretendard-Regular.ttf") format("truetype");
  }
  
  body {
    font-family: "Pretendard-Regular";
    font-style: normal; 
    font-weight: normal;
  }