.main-header {
    display: flex;
    width: 1440px;
    padding: 20px 57px 20px 124px;
    align-items: center;
    gap: 427px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  /* 기본 버튼 스타일 */
.header-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #777e90;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    cursor: pointer;
    outline: none; /* 포커스 표시 제거 */
  }
  
  /* 클릭 시 효과 */
  .header-button:active {
    background-color: #47abd9; /* 클릭 시 배경색 변경 */
  }
  
  